# litestar
litestar
uvicorn
uvloop

# render
Jinja2

# postgresql
asyncpg
psycopg2-binary
alembic
SQLAlchemy
SQLAlchemy-JSONField
sqlalchemy-stubs

# metrics / telemetry
aioprometheus
elastic-apm

# tox
tox

# pytest
pylint==2.17.4
pytest==7.3.2
pytest-asyncio
pytest-cov
pytest-mock
factory-boy

# linters
isort
mypy
mypy-extensions
pylint
ruff

# ???
httpx
ujson
dependency-injector

# mappers / validators / data structures
pydantic-settings

